<ion-view view-title="choose your category">

<ion-content>
<div class="swiper-container">
		<div class="pagination"></div>
		<div class="swiper-wrapper" style="width:2424px;">
			<div class="swiper-slide">
				<div class="inner">
					<img src="img/gallery-2.jpg" alt="">
					<h1>campains</h1>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="inner">
					<img src="/img/gallery-5.jpg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="inner">
					<img src="/img/gallery-6.jpg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="inner">
					<img src="/img/gallery-7.jpg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="inner">
					<img src="img/gallery-2.jpg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="inner">
					<img src="img/gallery-5.jpg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="inner">
					<img src="img/gallery-6.jpg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="inner">
					<img src="img/gallery-7.jpg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="inner">
					<img src="img/gallery-2.jpg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="inner">
					<img src="img/gallery-5.jpg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="inner">
					<img src="img/gallery-6.jpg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="inner">
					<img src="img/gallery-7.jpg" alt="">
				</div>
			</div>
		</div>
	</div></ion-content>

</ion-view >