<ion-view view-title="Sharing Smiles">
<ion-content>
 <ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide class="firstone">

  
    	<a href="/#/app/campain"><img class="onemonthonechange" src="/img/onemonth.jpg">
    	1 Village 1 Month 1 change<br>
    	by TVF Foundation

</a>
  </ion-slide>
  <ion-slide  class="secondone">
 
  </ion-slide>
  <ion-slide  class="thirdone">
    <div class="box pink"><h1>PINK</h1></div>
  </ion-slide>
</ion-slide-box>
<h1 class="become">BECOME A</h1>
<ul class="optionlist">
	<a href="/#/app/volunteer"><li class="options" >
		Volunteer
	</li></a>
	<li  class="options" >
		Menter

	</li>
	
	<a href="#/app/donate"><li class="options" <i class="fa fa-university fa-2x"></i>
		Doner
	</li></a>
	<li class="options">
		Philanthropist
	</li>
</ul>
</ion-content>
</ion-view>
