<ion-view view-title="Sharing Smiles">
<ion-content>
 <ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide class="firstone">

  
    	<img class="onemonthonechange" src="/img/onemonth.jpg">
    	1 Village 1 Month 1 change<br>
    	by TVF Foundation


  </ion-slide>
  <ion-slide  class="secondone">
    <div class="box yellow"><h1>YELLOW</h1></div>
  </ion-slide>
  <ion-slide  class="thirdone">
    <div class="box pink"><h1>PINK</h1></div>
  </ion-slide>
</ion-slide-box>
<h1 class="become">BECOME A</h1>
<ul class="optionlist">
	<li class="options" href="/#/app/volunteer">
		Volunteer
	</li>
	<li  class="options" >
		Menter

	</li>
	
	<li class="options">
		Doner
	</li>
	<li class="options">
		Philanthropist
	</li>
</ul>
</ion-content>
</ion-view>
