<ion-view view-title="My Projects">

 <ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide class="firstone">
    <div class="box blue"><h1>BLUE</h1></div>
  </ion-slide>
  <ion-slide  class="secondone">
    <div class="box yellow"><h1>YELLOW</h1></div>
  </ion-slide>
  <ion-slide  class="thirdone">
    <div class="box pink"><h1>PINK</h1></div>
  </ion-slide>
</ion-slide-box>
<ion-content>
<h1 class="become">BECOME A</h1>
<ul class="optionlist">
	<li class="options">
		Volunteer
	</li>
	<li  class="options">
		Menter

	</li>
	
	<li class="options">
		Doner
	</li>
	<li class="options">
		Philanthropist
	</li>
</ul>
</ion-content>
</ion-view>
