<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Signup</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closesignup()"><i class="fa fa-times fa-2x"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="dosignup()">
      <div class="list">
        <label class="item item-input">
          
          <input type="text" ng-model="loginData.username"placeholder="Username">
        </label>
         <label class="item item-input">
          
          <input type="text" ng-model="loginData.email"placeholder="Email">
        </label>
        <label class="item item-input">
          
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
         <label class="item item-input">
          
          <input type="password" ng-model="loginData.retypepassword" placeholder="Retype Password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Sign up</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
