/* Empty. Add your own CSS if you like */
ion-header-bar.bar-stableleft.bar.bar-header.disable-user-behavior {
    height: 23%;
    background-color: rgba(143, 85, 183, 0.77);
}

.bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 0;
    position: absolute;
    left: 0;
    z-index: 9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 44px;
    border-width: 0;
    border-style: solid;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #631896;
    background-color: white;
    /* border-width: 1px will actually create 2 device pixels on retina; */
    background-size: 0;
}
i.fa.fa-cog {
    margin-top: 50%;
    font-size: x-large;
    color: #5C1E88;
    margin-left: 94%;
}
i.fa.fa-share-square-o {
    margin-top: 42%;
    margin-left: 35%;
    font-size: x-large;
    color: #5C1E88;
}
i.fa.fa-home {
    padding-right: 30px;
}
i.fa.fa-newspaper-o {
    padding-right: 23px;
}
i.fa.fa-area-chart {
    padding-right: 26px;
}
i.fa.fa-university {
    padding-right: 27px;
}
i.fa.fa-sign-in {
    padding-right: 38px;
}
 
 i.fa.fa-pencil {
    padding-right: 37px;
}
.bar .username {
	color:#5C1E88;;
    position: absolute;
    top: 65%;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
}
.circle {
	
    width: 83px;
    height: 83px;
    background: #5C1E88;;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.bar .title {
    color: #8F55B7;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
}
.button.button-positive {
    border-color: #EE0CEB;
    background-color: #8F55B7;
    color: #fff;
}
ion-content.menucontent {
    background-color: rgba(143, 85, 183, 0.77);
    top: 23%;
}
.item {
    background: transparent;
   border: 0px !important;    /* background-color: #B74141; */
    color: #5C1E88;;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    
    font-size: 16px;
}
img.onemonthonechange{
	width:100%
}
.item-complex .item-content, .item-radio .item-content {
    position: relative;
    z-index: 2;
    padding: 16px 49px 16px 16px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
img.user {
    margin-top: 1px;
    margin-left: 1.4px;
    width: 80px;
    height: 80px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.menu-left {
    background-image: url("/img/menubg8.jpg");
    left: 0;
    
}
.bar-stable .button.button-clear {
   
    box-shadow: none;
    color: #FFF;
    font-size: 17px;
}
ion-header-bar.bar-stable.bar.bar-header.disable-user-behavior {
    background-color: #8F55B7;
}
.bar.bar-stable .title {
    color: #FFF;
}
.become {
    margin-top: 32px;
    font-size: 25px;
    text-align: center;
    color: #8F55B7;
    font-family: Verdana, Geneva, sans-serif;
}
.options {
    border: 1px solid #EE0CEB;
    border-radius: 4px;
    margin-top: 8px;
    margin-left: 2%;
    background-color: #8F55B7;
    color: white;
    height: 39px;
    width: 96%;
    padding-top: 8px;
}
ul.optionlist {
	width: 100%;
    text-align: center;
   
    top: 65%;
}
.slider-slides {
    height: 100%;
}
.slider {
	text-align: center;
    color: white;
    
    position: relative;
    overflow: hidden;
}

ion-slide.firstone.slider-slide {
    background-color: #B12172;
}
ion-slide.secondone.slider-slide {
    background-color: #178C1B;
}
ion-slide.thirdone.slider-slide {
    background-color: red;
}







button.likebtn {
border: 0px;
background-color: rgba(240, 248, 255, 0.07);
color: rgb(119, 179, 230);
}
button.unlikebtn {
border: 0px;
background-color: rgba(240, 248, 255, 0.07);
color: rgb(119, 179, 230);
}
.arrow-left {
    position: absolute;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid #498BE5;
    left: 422px;
}
.list.card {
    position: absolute;
    left: 5px;
    right: 5px;
    margin: 0;
    top: 50px;
    box-shadow: 0px -2px 1px 2px #8F55B7;
}.infoBox {
  margin: 200px 20px;
}

.box {
  width: 100px;
  height: 100px;
  float: left;
  background: #fca;
  line-height: 100px;
  text-align: center;
}

.active {
  background: #a23;
}

.box-wrapper {
  position: fixed;
  top: 50px;
  left: 20px;
}

.cta {
  margin-left: 20px;
} 
.item {
    background: transparent;
    border: 1px solid grey!important; 
    /* background-color: #B74141; */
    color: #5C1E88;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    font-size: 16px;
}